<style>
#free-insert {
}
.optgroud-label {
  text-align: right;
  font-size: 12px;
  padding-left: 20px;
}
.c-head {
  width: 750px;
  padding: 7px 7px;
  border-bottom: 1px solid #eee;
}
.c-head-title {
  display: inline-block;
  width: 100px;
  font-weight: bold;
  font-size: 1.1em;
}
.c-head-file {
  display: inline-block;
}
.span-input-01 input {
  padding: 3px;
}
.c-head-content {
  vertical-align: top;
}
.c-head-buttons {
  padding: 10px 6px 10px 0px;
  text-align: right;
}
.c-head-buttons span button {
  border: none;
  padding: 4px 10px 6px 10px;
  background: #50a85a;
  font-size: 1.2em;
  color: white;
  width: 60px;
  overflow: visible;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.bbs01-top-img {
  margin-bottom: 20px;
}
#select-category {
  width: 100px;
  padding-bottom: 4px;
  padding-top: 2px;
  background: url(image/select_arrow_01.png) no-repeat 95% 50%;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none
}
</style>